body {
  font-family: Arial, sans-serif;
}

.main-navigation a {
  color: #333;
  text-decoration: none;
}

.main-navigation a:hover {
  color: #ffffcc;
  text-decoration: underline;
}

.site-header {
  background-color: #000066;
  color: white;
  padding: 10px 0;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  margin-right: 10px;
}

.title {
  font-size: 24px;
}

.main-navigation ul {
  list-style-type: none;
  padding: 0;
}

.main-navigation ul li {
  display: inline-block;
  margin-right: 20px;
}

.main-navigation ul li:last-child {
  margin-right: 0;
}

.main-navigation a {
  color: white;
  text-decoration: none;
}

.main-navigation a:hover {
  text-decoration: underline;
}

.accordion {
  background-color: #e6f7ff;
  color: #004d99;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  margin: 10px 0;
}

.active, .accordion:hover {
  background-color: #b3d9ff;
}

.accordion:after {
  content: '\002B';
  color: #6699cc;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: #e6f7ff;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.site-header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

/* カードのスタイル */
.menu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu-card {
  width: calc(25% - 20px);
  margin: 10px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.menu-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.menu-card h4 {
  margin-top: 0;
  color: #333;
}

.menu-card p {
  margin: 5px 0;
  color: #777;
}


.blue-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.blue-button:hover {
  background-color: #0056b3;
}

/* アニメーションの定義 */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-image {
  opacity: 0;
  transition: opacity 2s;
}
.fade-in-image.visible {
  opacity: 1;
}



.scroll_up {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

.image-section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.image-section img {
  margin-right: 10px;
}

.image-section h5 {
  margin: 0;
}


.image-container {
  display: inline-block;
  vertical-align: top;
  width: 40%;
  box-sizing: border-box;
  padding: 10px;
  margin: 20px;
  text-align: center;
}
.image-container img {
  width: 100%;
  height: auto;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
  margin: 20px;
  text-align: center;
}

.img-container img {
  width: 180%;
  height: auto;
}

